@model MovieCatalog.WebApp.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Movie</h1>

<hr />

<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mt-3">
                <div class="col-sm-12 col-md-8 col-lg-4">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="col-sm-12 col-md-8 col-lg-2">
                    <label asp-for="ReleaseDate" class="form-label"></label>
                    <input asp-for="ReleaseDate" class="form-control" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>

                <div class="col-sm-12 col-md-8 col-lg-2">
                    <label asp-for="Genre" class="form-label"></label>
                    <input asp-for="Genre" class="form-control" />
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>

                <div class="col-sm-12 col-md-8 col-lg-2">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="col-sm-12 col-md-8 col-lg-2">
                    <label asp-for="Rating" class="form-label"></label>
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-outline-primary" type="button" onclick="location.href='@Url.Action("Index", "Movie")'">Back to list</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
