@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This project is basead in the asp.net mvc core tutorial:
    <a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-7.0&tabs=visual-studio" target="_blank">
        ASP.NET CORE MVC tutorial
    </a>
</p>

<p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
