@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This project is basead in the asp.net mvc core tutorial:
    <a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-7.0&tabs=visual-studio" target="_blank">
        ASP.NET CORE MVC tutorial
    </a>
</p>

<p>
    For the pagination part, the following tutorial was used:
    <a href="https://learn.microsoft.com/en-us/aspnet/core/data/ef-mvc/sort-filter-page?view=aspnetcore-7.0" target="_blank">
        Add sorting, filtering, and paging - ASP.NET MVC with EF Core
    </a>    
</p>

<p>
    For the related data, the following tutorial was used:
    <a href="https://learn.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/updating-related-data-with-the-entity-framework-in-an-asp-net-mvc-application" target="_blank">
        Update related data with EF in an ASP.NET MVC app
    </a>
</p>

<p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
