@{
    ViewData["Title"] = "Dashboad";
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        Dashboard.init();
    })

    Dashboard = {
        self: this,

        init: function () {
            this.addControls();
            this.getMovieCountRecords();
        },

        addControls: function () {
            self.$loader = $('#loader');
            self.$dashboardPanel = $('#dashboardPanel');
            self.$totalMovieRecords = $('#totalMovieRecords');
            self.$moviesByRating = $('#moviesByRating');

            self.$linkDetailsFirstMovie = $('#linkDetailsFirstMovie');
            self.$firstMovieTitle = $('#firstMovieTitle');
            self.$firstMovieReleaseDate = $('#firstMovieReleaseDate');
            self.$firstMovieGenre = $('#firstMovieGenre');
            self.$firstMovieRating = $('#firstMovieRating');

            self.$linkDetailsLastMovie = $('#linkDetailsLastMovie');
            self.$lastMovieTitle = $('#lastMovieTitle');
            self.$lastMovieReleaseDate = $('#lastMovieReleaseDate');
            self.$lastMovieGenre = $('#lastMovieGenre');
            self.$lastMovieRating = $('#lastMovieRating');

            self.$alertError = $('#alertError');
        },

        getMovieCountRecords: function () {
            self.$loader.show();

            $.get({
                url: '/dashboard/getdashboarddata'
            })
                .done(function (data, textStatus, jqXHR) {
                    if (data != null) {
                        self.$totalMovieRecords.text(data.totalMovies);

                        self.$linkDetailsFirstMovie.prop('href', `/movie/details/${data.firstMovieAdded.id}`);
                        self.$firstMovieTitle.text(data.firstMovieAdded.title);
                        self.$firstMovieReleaseDate.text(moment(data.firstMovieAdded.releaseDate).format('DD[/]MM[/]YYYY'));
                        self.$firstMovieGenre.text(data.firstMovieAdded.genre);
                        self.$firstMovieRating.text(data.firstMovieAdded.rating);

                        self.$linkDetailsLastMovie.prop('href', `/movie/details/${data.lastMovieAdded.id}`);
                        self.$lastMovieTitle.text(data.lastMovieAdded.title);
                        self.$lastMovieReleaseDate.text(moment(data.lastMovieAdded.releaseDate).format('DD[/]MM[/]YYYY'));
                        self.$lastMovieGenre.text(data.lastMovieAdded.genre);
                        self.$lastMovieRating.text(data.lastMovieAdded.rating);

                        data.moviesRating.forEach(function (x) {

                            let bootStrapBgColors = ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'dark'];

                            let rand = Math.floor(Math.random() * bootStrapBgColors.length);

                            let div = `<div class="col d-flex align-items-stretch" >
                                                <div class="card bg-${bootStrapBgColors[rand]}" style = "width:100%;" >
                                                        <div class="card-body d-flex flex-column text-center fw-bold text-white">
                                                        ${x.totalMovies} - ${x.rating}
                                                    </div>
                                                </div>
                                            </div>`

                            self.$moviesByRating.append(div);
                        });
                    }

                    self.$dashboardPanel.show();
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    self.$loader.hide();
                    self.$alertError.show();
                    self.$dashboardPanel.hide();
                })
                .always(function (jqXHR, textStatus, errorThrown) {
                    self.$loader.hide();
                });
        }
    }
</script>

<div id="alertError" class="row" style="display:none;">
    <div class="col">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">
                <i class="fa-solid fa-circle-exclamation" style="margin-right: 4px;"></i>
                Error!
            </h4>
            <p>Unable to access data for dashboard.</p>
            <hr />
            <p>Contact system administrator</p>
        </div>
    </div>
</div>

<div id="loader" class="row" style="display:none;margin-top:200px;">
    <div class="col text-center">
        <i class="fa-solid fa-gear fa-spin" style="font-size:100px;"></i>
    </div>
</div>

<div id="dashboardPanel" style="display:none;">
    <div class="row mt-3">
        <div class="col d-flex align-items-stretch">
            <div class="card bg-success text-white" style="width:100%;">
                <div class="card-body d-flex flex-column text-center">
                    Total movie records
                    <label id="totalMovieRecords" style="font-size:60px;"></label>
                </div>
            </div>
        </div>

        <div class="col d-flex align-items-stretch">
            <div class="card bg-danger text-white" style="width:100%;">
                <div class="card-body d-flex flex-column text-center">
                    <a id="linkDetailsFirstMovie" href="#">
                        <ul>
                            <li>First movie added to catalog</li>
                            <li><span id="firstMovieTitle" style="font-size:20px;"></span></li>
                            <li><span id="firstMovieReleaseDate" style="font-size:20px;"></span></li>
                            <li><span id="firstMovieGenre" style="font-size:20px;"></span></li>
                            <li><span id="firstMovieRating" style="font-size:20px;"></span></li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>

        <div class="col d-flex align-items-stretch">
            <div class="card bg-warning text-white" style="width:100%;">
                <div class="card-body d-flex flex-column text-center">
                    <a id="linkDetailsLastMovie" href="#">
                        <ul style="list-style-type: none;">
                            <li>Last movie added to catalog</li>
                            <li><span id="lastMovieTitle" style="font-size:20px;"></span></li>
                            <li><span id="lastMovieReleaseDate" style="font-size:20px;"></span></li>
                            <li><span id="lastMovieGenre" style="font-size:20px;"></span></li>
                            <li><span id="lastMovieRating" style="font-size:20px;"></span></li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Total movies by rating
                </div>
                <div class="card-body">
                    <div id="moviesByRating" class="row mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    a {
        color: #aabbcc;
        text-decoration: none;
    }

        a:hover {
            color: #fff;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
        }

    u {
        list-style-type: none;
    }
</style>
